<div style="width: 100%;">
  <h3 style="color: #262729;">Задати запитання.</h3>
  <p><span style="width: 30%; display: inline-block; color: #262729; font-size: 1.125rem; font-family: 'Open Sans', sans-serif; font-weight: 200;">Ім’я:</span><span style="width: 30%; display: inline-block; color: #e2231a; font-size: 1.125rem; font-family: 'Open Sans', sans-serif; font-weight: 500;"><%= @data[:name] %></span></p>
  <p><span style="width: 30%; display: inline-block; color: #262729; font-size: 1.125rem; font-family: 'Open Sans', sans-serif; font-weight: 200;">Контактний телефон:</span><span style="width: 30%; display: inline-block; color: #e2231a; font-size: 1.125rem; font-family: 'Open Sans', sans-serif; font-weight: 500;"><%= @data[:phone] %></span></p>
  <p><span style="width: 30%; display: inline-block; color: #262729; font-size: 1.125rem; font-family: 'Open Sans', sans-serif; font-weight: 200;">Електронна скринька:</span><span style="width: 30%; display: inline-block; color: #e2231a; font-size: 1.125rem; font-family: 'Open Sans', sans-serif; font-weight: 500;"><%= @data[:email] %></span></p>
</div>